* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Neue Montreal";
  margin-top: 0.1px;
}

.site-content-1 {
  position: relative;
  /* z-index: 10000; */
}

.site-content {
  position: relative;
  /* z-index: 0; */
  width: 75%;
  margin: 0 auto;
  background-color: #0a0a0a !important;
}

/* nav {
    width: 100%;
    padding: 2em;
    display: flex;
} */

a {
  text-decoration: none;
  color: #fff;
}

a img {
  width: 6%;
}

nav>div {
  flex: 1;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 5em;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#name {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  z-index: -1;
}

.header {
  display: flex;
  padding: 1em 1em 0em 1em;
  width: 40%;
}

.header h1 {
  flex: 1;
  position: relative;
  font-size: 12vw;
  font-family: "PP Editorial Old";
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header-1 {
  display: flex;
  padding: 0em 1em 1em 1em;
  width: 40%;
}

.header-1 h1 {
  flex: 1;
  position: relative;
  font-size: 12vw;
  font-family: "PP Editorial Old";
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 2em;
} */

footer>div {
  flex: 1;
}

.footer-copy p {
  width: 50%;
  color: #fff;
}

.footer-nav {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
}

.img {
  width: 225px;
  height: 150px;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.img:nth-child(1) {
  background: url(../assets/software-development.png) no-repeat 50% 50%;
  background-size: cover;
}

.img:nth-child(2) {
  background: url(../assets/devops-logo.png) no-repeat 50% 50%;
  background-size: cover;
}


@media(max-width: 900px) {
  footer {
    flex-direction: column;
    gap: 2em;
  }

  .footer-copy p {
    width: 100%;
  }

  .footer-nav {
    width: 100%;
    justify-content: space-between;
  }
}

/* p {
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 14px;
} */

.website-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
}

.logo {
  position: fixed;
  margin: 1.5em;
  z-index: 0;
}

.logo .logo-wrapper a {
  text-decoration: none;
  font-family: "Canopee";
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 2em 1.5em;
}

nav>div {
  flex: 1;
}

.logo img {
  width: 40px;
}

.logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-main img {
  width: 300px;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5em;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 2em;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0.25em;
  outline: none;
  height: 20px;
  width: 28px;
  border: none;
  transition: all 250ms ease-out;
  /* cursor: pointer; */
}

.burger:before,
.burger:after {
  content: "";
  width: 28px;
  height: 1.5px;
  position: absolute;
  background: #fff;
  transition: all 250ms ease-out;
  /* transition-delay: 0.3s; */
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.burger:hover {
  background: rgba(255, 255, 255, 1);
}

.burger:hover:before,
.burger:hover:after {
  background: #000;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.block {
  flex: 1;
  height: 100%;
  /* background: black; */
  background: #d4ff3f;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  margin-right: -2px;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
  padding: 10em 5em;
}

.menu-item,
.menu-title {
  flex: 1;
  width: 100%;
  opacity: 0;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title p {
  opacity: 1;
}

/* p {
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 14px;
} */

.menu-item {
  display: flex;
  padding: 1em;
  transition: 0.3s;
  /* cursor: pointer; */
}

.menu-item-year,
.menu-item-link {
  /* flex: 1; */
  flex: 3;
  display: flex;
  justify-content: center;
}

.menu-item-year p {
  opacity: 1;
}

.menu-item-name {
  flex: 3;
  display: flex;
  justify-content: center;
}

.menu-item-name p {
  /* font-family: "PP Formula"; */
  font-size: 4vw;
  text-align: center;
  font-family: "Space Mono";
  text-transform: uppercase;
  opacity: 1;
  /* font-size: 14px; */
}

.menu-item-link {
  text-align: right;
}

.menu-item-link a {
  color: black;
}

@media (max-width: 900px) {
  .logo-main img {
    display: none;
  }

  .website-content .header {
    width: 300px;
  }
}

:root {
  --bg: #e4e3db;
  --text-color: #e4e3db;
  --project-primary: #e88640;
  --project-footer: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  background: var(--text-color);
  color: var(--bg);
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--text-color);
  overflow-x: hidden;
}

/* container */
.container {
  width: 100vw;
}

/* .site-content {
    width: 75%;
    margin: 0 auto;
  }
   */
@media (max-width: 900px) {
  .site-content {
    width: 80%;
  }
}

/* text global styles */
h1,
h2,
h3,
h4 {
  font-family: "Canopee";
  font-weight: 400;
}

p,
a {
  font-family: "Acid Grotesk";
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
}

p {
  opacity: 0.5;
}

h1 {
  font-size: 20vw;
}

h2 {
  font-size: 7vw;
}

h3 {
  font-size: 3vw;
}

h4 {
  font-size: 2.5vw;
}

p {
  font-size: 1.5vw;
}

a {
  font-size: 1.5vw;
}

@media (max-width: 900px) {
  h2 {
    font-size: 10vw;
  }

  h3 {
    font-size: 7vw;
  }

  h4 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

  a {
    font-size: 4vw;
  }
}

/* hero */
.hero {
  position: relative;
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}

.hero .hero-header {
  padding-top: 20vh;
}

.hero .hero-header h1 {
  position: relative;
  top: 220px;
  line-height: 0.8;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.hero-header-wrapper {
  position: relative;
}

.about-h1-revealer {
  content: "";
  position: absolute;
  display: block;
  top: 200px;
  left: -50px;
  width: 125%;
  height: 155%;
  background: var(--bg);
}

.hero .hero-img {
  position: relative;
  width: 500px;
  height: 600px;
  margin-top: -25%;
  overflow: clip;
  clip-path: inset(0 0 0 0);
  opacity: 0;
  border-radius: 10px;
  border: 2px solid var(--text-color);
}

.hero .hero-img img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .hero {
    height: 80vh;
    margin-bottom: 5em;
  }

  .hero .hero-header {
    padding-top: 40vh;
  }

  .hero .hero-img {
    width: 50%;
  }
}

/* sub-hero */
.sub-hero {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5em 0;
}

.sub-hero h2 {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.75);
}

.sub-hero h2 span {
  color: #000;
}

/* about */
.about {
  margin: 5em 0;
}

.about h3 {
  text-align: center;
}

.about .about-copy {
  width: 80%;
  display: flex;
  gap: 10em;
  margin: 5em auto;
}

@media (max-width: 900px) {
  .about .about-copy {
    flex-direction: column;
    margin: 5em 0;
    width: 100%;
    gap: 2em;
  }
}

/* disc */
.disc {
  position: relative;
  margin: 5em 0;
  width: 100%;
  height: 100%;
}

.disc .disc-img {
  cursor: pointer;
  width: 75vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.disc .disc-copy {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disc .disc-img img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .disc {
    width: 100%;
  }

  .disc .disc-img {
    width: 150vw;
    margin: 0 auto;
  }
}

.disc .disc-copy h4 {
  font-family: "Acid Grotesk";
  font-size: 2vw;
}

.disc .disc-copy h4,
.disc .disc-copy h3 {
  text-align: center;
}

.disc .disc-copy h3 {
  text-transform: uppercase;
  margin: 0.5em 0;
}

/* awards */
.awards {
  margin: 5em 0;
  display: flex;
  gap: 5em;
}

.awards .awards-header {
  flex: 2;
  text-transform: uppercase;
}

.awards .awards-copy {
  flex: 3;
}

.awards .awards-copy .award {
  width: 100%;
  display: flex;
  padding: 2em;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  margin-bottom: 1em;
}

.awards .awards-copy .award .award-index {
  flex: 1;
}

.awards .awards-copy .award .award-index h4 {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--text-color);
  color: var(--bg);
}

.awards .awards-copy .award .award-copy {
  flex: 3;
}

.awards .awards-copy .award .award-year {
  flex: 1;
}

@media (max-width: 900px) {
  .awards {
    flex-direction: column;
  }

  .awards .awards-copy .award .award-index h4 {
    font-size: 4vw;
  }
}

/* partners  */
.partners {
  position: relative;
  margin: 5em 0;
}

.partners h4 {
  text-align: center;
  text-decoration: underline;
  margin: 5em;
}

.partners .partners-container {
  width: 100vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.partners .partners-container .partners-row {
  width: 250vw;
  display: flex;
  position: relative;
  left: -10%;
}

.partners .partners-container .partners-row h4 {
  cursor: pointer;
  margin: 0;
  line-height: 0.9;
  font-size: 12vw;
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
  padding: 0 0.1em;
}

.partners .partners-container .partners-row h4:hover {
  color: var(--text-color);
}

/* the team */
.team {
  width: 100%;
  margin: 7.5em 0;
}

.team .team-copy {
  width: 80%;
  display: flex;
  gap: 10em;
  margin: 5em auto;
}

.team .team-copy .team-col {
  flex: 1;
}

.team .team-copy .team-col #team-title {
  font-size: 3.5vw;
  margin: 0.5em 0;
}

.team .team-copy .team-col #expand {
  font-size: 2vw;
  margin: 2em 0;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .team .team-copy {
    flex-direction: column;
    margin: 5em 0;
    width: 100%;
    gap: 4em;
    text-align: center;
  }

  .team .team-copy .team-col #team-title {
    font-size: 10vw;
  }

  .team .team-copy .team-col #expand {
    font-size: 4vw;
  }
}

/* divider/logo */
.divider {
  position: relative;
  margin: 2em 0;
  width: 100%;
  height: 400px;
  height: 200px;
}

.divider .divider-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100px;
}

.divider .divider-logo {
  top: 0;
  position: absolute;
  width: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider .divider-logo img {
  width: 100%;
}

@media (max-width: 900px) {
  .divider .divider-img {
    display: none;
  }
}

/* footer  */
footer {
  padding: 2.5em 0 5em 0;
  text-align: center;
  background-color: #0A0A0A !important;
}

footer .footer-package a {
  color: var(--text-color);
}

footer .footer-package h4 {
  text-transform: uppercase;
  font-size: 5vw;
  color: transparent;
  font-weight: 500;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.75);
  margin: 0.5em 0;
}

footer .footer-package h4 span {
  color: var(--text-color);
}

footer .footer-links {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 2em;
  margin: 5em 0 0 0;
}

footer .footer-links a {
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 900px) {
  footer .footer-package h4 {
    font-size: 10vw;
  }
}

:root {
  --bg: #0a0a0a;
  --link-color: #e4e3db;
  --overlay-bg: #000;
}