:root {
  --bg: #0a0a0a;
  --link-color: #e4e3db;
  --overlay-bg: #000;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roslindale Display Condensed";
}

.site-content {
  position: relative;
  z-index: 2;
  /* background: #000; */
}

.logo {
  position: fixed;
  margin: 1.5em;
  z-index: 4;
}

.logo .logo-wrapper a {
  text-decoration: none;
  font-family: "Canopee";
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  padding: 2em 1.5em;
}

nav>div {
  flex: 1;
}

.logo img {
  width: 40px;
}

.logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-main img {
  width: 300px;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5em;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 2em;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0.25em;
  outline: none;
  height: 20px;
  width: 28px;
  border: none;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 28px;
  height: 1.5px;
  position: absolute;
  background: #fff;
  transition: all 250ms ease-out;
  /* transition-delay: 0.3s; */
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.burger:hover {
  background: rgba(255, 255, 255, 1);
}

.burger:hover:before,
.burger:hover:after {
  background: #000;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.block {
  flex: 1;
  height: 100%;
  /* background: black; */
  background: #d4ff3f;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  margin-right: -2px;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
  padding: 10em 5em;
}

.menu-item,
.menu-title {
  flex: 1;
  width: 100%;
  opacity: 0;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* p {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Space Mono";
  text-transform: uppercase;
  font-size: 14px;
} */

.menu-item {
  display: flex;
  padding: 1em;
  transition: 0.3s;
  /* cursor: pointer; */
}

.menu-item-year,
.menu-item-link {
  flex: 1;
}

.menu-item-name {
  flex: 3;
  display: flex;
  justify-content: center;
}

.menu-item-name p {
  /* font-family: "PP Formula"; */
  font-size: 4vw;
  text-align: center;
  font-family: "Space Mono";
  text-transform: uppercase;
  /* font-size: 14px; */
}

.menu-item-link {
  text-align: right;
}

.menu-item-link a {
  color: black;
}


/* #logo {
  display: none !important;
}

.logo {
  position: fixed;
  margin: 3em;
  z-index: 10000;
}

.logo .logo-wrapper a {
  text-decoration: none;
  font-family: "Canopee";
  text-transform: uppercase;
  color: var(--text-color);
  line-height: 1;
} */

/* @media (max-width: 900px) {
  .logo .logo-wrapper a {
    font-size: 4vw;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 102vh;
  overflow: hidden;
  top: -2vh;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

svg path {
  fill: var(--overlay-bg);
}

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2;
  cursor: pointer;
}

.btn-outline {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid var(--link-color);
}

.btn-outline-1 {
  border-radius: 100%;
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 100%;
} */

/* @keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
} */
/* 
#hamburger {
  position: relative;
  height: 20px;
  width: 20px;
  z-index: 2;
}

#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: var(--link-color);
  transition: transform 0.25s;
}

#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: " ";
  width: 24px;
  height: 1.25px;
  background: var(--link-color);
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}

#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  opacity: 0;
}

.menu>div {
  height: 100%;
  display: flex;
}

.menu a {
  position: relative;
  top: 120px;
  line-height: 70%;
  font-family: "Canopee";
  text-decoration: none;
  color: var(--link-color);
  transition: letter-spacing 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu a span {
  font-size: 20px;
  margin-right: 2em;
  font-family: "Ayer";
}

.menu-item {
  position: relative;
}

.menu-item:after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 140%;
  height: 200%;
  background: var(--overlay-bg);
  margin: 0 auto;
  opacity: 0;
}

.menu-container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu a {
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 500;
}

.primary-menu .menu-container .wrapper .menu-item:nth-child(1) a,
.primary-menu .menu-container .wrapper .menu-item:nth-child(3) a {
  margin-left: 1em;
}

.secondary-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
}

.secondary-menu .menu-item a {
  font-family: "Ayer";
  font-size: 36px;
  text-transform: uppercase;
}

.secondary-menu .menu-container .wrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */




/* @media (max-width: 900px) {
  #toggle-btn {
    width: 80px;
    height: 80px;
    margin: 1.4em;
  }

  .btn-outline {
    position: absolute;
    width: 80px;
    height: 80px;
  }

  .menu {
    flex-direction: column;
  }

  .primary-menu {
    margin-top: 4em;
    padding-top: 1em;
    flex: 1;
  }

  .primary-menu a {
    font-size: 12vw;
  }

  .secondary-menu {
    padding-top: -1em;
    flex: 1;
    display: flex;
    flex-direction: row !important;
    gap: 0;
  }

  .secondary-menu .menu-container {
    flex-direction: row;
  }
} */